@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Total Countries</div>
                <div class="card-body">@await Component.InvokeAsync("CountryCount")</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Total States</div>
                <div class="card-body">@await Component.InvokeAsync("StateCount")</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Total Districts</div>
                <div class="card-body">@await Component.InvokeAsync("DistrictCount")</div>
            </div>
        </div>
    </div>
</div>

