
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Employee_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2 class="text-primary text-center">Welcome Employee</h2>
            <h3 class="text-center">Employee Management System</h3>
            <hr />
            <img src="../Images/home.jpg" style="width:100%" />
        </div>
    </div>
</div>

