
@{
    ViewData["Title"] = "History";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Company History</h1>
            <p>
                Since our inception in [year], [Company Name] has been synonymous with innovation and excellence in the [industry/niche] sector. What began as a humble startup with a vision to disrupt the status quo has evolved into a leading force in the industry, shaping the way businesses operate and thrive in the modern world.

            </p>
            <p>In our early days, [Founder's Name], our visionary founder, recognized a gap in the market and seized the opportunity to fill it. Armed with determination and a relentless pursuit of excellence, [Founder's Name] laid the foundation for what would become [Company Name]'s legacy of innovation.</p>
            <a asp-action="Index" class="btn btn-info">Back</a>
        </div>
    </div>
</div>


