@model EMS.UI.ViewModels.BranchViewModel

@{
    ViewData["Title"] = "EditBranch";
}

<h1>Edit Branch Details</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBranch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="BranchHead" class="control-label"></label>
                <input asp-for="BranchHead" class="form-control" />
                <span asp-validation-for="BranchHead" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
